*{
    transition: all .2s;
}
@media only screen and (max-width:992px){
    .content1 {
        width: 100%
    }
    .spin {
        height: 578px;
        width:100%;
    }
    .center {
        position: center;
        padding-left: 37%
    }
    .fun {
        margin-left: 35%;
    }
    .footer {
        width: 100%
    }
    .wrapper {
        height: 100%;
        width: 100%
    }
}
@media only screen and (max-width:768px) {
    .content1 {
        width: 100%
    }
    .wrapper {
        height: 100%;
        width: 100%
    }

    .spin {
        height: 415px;
        width: 100%;
    }
    .center{
        position:center;
        padding-left:25%
    }
    .fun{
        margin-left:22.5%;
    }
    .top {
        display: none;
    }
    .dws-menu {
        display: block;
    }
    .footer {
        width: 100%
    }
}

@media only screen and (max-width:640px) {
    html, body {
        height: 100%;
        margin: 0;
        padding:0;
        width:100%;
    }
    .content1 {
        width: 100%;
        height:100%
    }
    .wrapper {
        height: 100%;
        width: 100%
    }

    .spin {
        height: 380px;
        width: 100%;
    }

    .center {
        position: center;
        padding-left: 22%
    }

    .fun {
        margin-left: 19.6%;
    }


    .top {
        display: none;
    }

    .dws-menu {
        display: block;
    }
    .footer {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    html, body {
        height: 100%;
        margin: 0;
        padding:0;
        width:100%;
    }
    .content1 {
        width: 100%;
        height:100%
    }
    .wrapper {
        height: 100%;
        width: 100%
    }

    .spin {
        height: 340px;
        width: 100%;
    }

    .center {
        position: center;
        padding-left: 20%
    }

    .fun {
        margin-left: 18%;
    }


    .top {
        display: none;
    }

    .dws-menu {
        display: block;
    }
    .footer {
        width: 100%;
    }
}


@media only screen and (max-width:480px) {
    html, body {
        height: 100%;
        margin: 0;
        padding:0;
        width:100%;
    }
    .content1 {
        width: 100%;
        height:100%
    }
    .wrapper {
        height: 100%;
        width: 100%
    }

    .spin {
        height: 320px;
        width: 100%;
    }

    .center {
        position: center;
        padding-left: 18%
    }

    .fun {
        margin-left: 16%;
    }


    .top {
        display: none;
    }

    .dws-menu {
        display: block;
    }
    .footer {
        width: 100%;
    }
}

