{% extends "rides/index.html" %}

{% block content %}
    <div class="container mt-4" style="height: 100%;">
        {% for i in listRides %}
        <ul class="list-group mt-3">
            {% if request.user == i.author %}
            <li class="list-group-item">
                <h6><b>{{i.ride.pick_up_location}} - {{i.ride.drop_location}}</b>: <span class="m-2">{{i.ride.date}}, {{i.ride.time}}</span></h6>
                <br />
                <h6><b>цена: {{i.ride.price}} c.</b></h6>
                <br />
                <a class="btn btn-outline-primary" href="/ride/{{i.ride.id}}">Подробнее</a>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
        {% if request.user == i.author %}
        {% else %}
        Пока поездок нет
        {% endif %}
        <a class="btn btn-outline-primary" href="{% url 'myRides' %}">Мои поездки</a>
    </div>
{% endblock %}