{% extends "mainApp/wrapper.html" %}

{% block content %}
    <main class="content1" role="main" style="padding-bottom:250px;">
        <div class="center">
            <h1 style="">Добро пожаловать,</h1>
            <h1 style="">{{ request.user.first_name }} {{ request.user.last_name }}</h1><br />
            <h4 style="">Выберите одну из функций нашего сайта:</h4>
        </div>
        <div class="fun">
            <div class="col-md-12 button-row" style="white-space: nowrap;">
                <a class="button button-bd" style=" padding-left: 60px; padding-right: 60px " href="/rides">Найти поездку </a>
                <a class="button button-bd" style="" href="{% url 'offerRide' %}">Предложить поездку </a>
            </div>
        </div>
    </main>
{% endblock %}