{% extends "rides/index.html" %}

{% block content %}
    <div class="content2" style="background-color:silver;padding-bottom:25%">
        <h1 style="margin-left:3%;" class="mt-4">Предложить поездку</h1>
        <!-- Button trigger modal -->
        {% if messages %}
        <div class="alert alert-success">
            {% for text in messages %}
            {{text}}
            {% endfor %}
        </div>
        {% endif %}
        <button style="margin-left:3%; margin-top:2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Предложить поездку
        </button>
        <a style="margin-left:3%; margin-top:2%;" class="btn btn-outline-primary" href="{% url 'Home' %}">Вернуться к списку поездок</a>
    </div>


<!-- Modal -->
<div data-id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создание поездки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_form" name="myForm" method="post">
                    {% csrf_token %}
                    Место сбора:
                    <p><input type="text" class="form-control" placeholder="Город, ул... " name="pick_up_location"></p>
                    Пункт назначения:
                    <p><input type="text" class="form-control" placeholder="Город, ул..." name="drop_location" ></p>
                    Дата:
                    <p><input type="date" class="form-control" placeholder="гг-мм-дд" name="date" ></p>
                    Время:
                    <p><input type="time" class="form-control" placeholder="чч:мм" name="time" ></p>
                    Номер телефона (используйте код страны и знак +):
                    <p><input type="text" class="form-control" placeholder="+992123456789" name="phone_number" ></p>
                    Количество пассажиров (от 1 до 10):
                    <p><input type="number" class="form-control" min="1" max="10" placeholder="5" name="total_rides" ></p>
                    <!--Возможность принять посылку/груз:
                    <p><input id="myCheck" type="checkbox" class="form-control" name="luggage" onclick="myFunction()"></p>
                    <p style="display:none" id="text1">Стоимость за кг. посылки/груза (с.):</p>
                    <p><input style="display:none" id="text" class="form-control" type="text" placeholder="10" name="luggage_price" ></p>-->
                    Марка автомобиля:
                    <p><input type="text" class="form-control" placeholder="Mercedes-Benz E class" name="car" ></p>
                    Год выпуска автомобиля:
                    <p><input type="text" class="form-control" placeholder="2020" name="car_year_issue" ></p>
                    Номерной знак автомобиля:
                    <p><input type="text" class="form-control" placeholder="01 0000 GG" name="car_number"></p>
                    Цена с человека (с.)
                    <p><input type="text" class="form-control" placeholder="50" name="price" ></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                {% if user.is_authenticated %}
                <button data-action="submit" form="add_form" type="submit" class="btn btn-primary">Добавить</button>
                {% else %}
                <a class="btn btn-outline-primary" href="{% url 'login'%}?next={{request.path}}">Добавить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--
<script type="text/javascript" language="javascript">
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("myCheck");
  // Get the output text
  var text = document.getElementById("text");
  var text1 = document.getElementById("text1");
  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
    text1.style.display = "block"
  } else {
    text.value = 0
    text.style.display = "none";
    text1.style.display = "none"
  }
}

</script>
-->
{% endblock %}