{% extends "rides/index.html" %}
{% load static %}
{% block content %}

<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<div class="container" style="padding-bottom:80px">
    <h2>{{getRide.pick_up_location}}-{{getRide.drop_location}}</h2>
    <p><h3>Дата поездкт: {{getRide.date}}. Время поездки: {{getRide.time}}</h3></p>
    <p>Номер телефона: {{getRide.phone_number}}</p>
    <p>Машина: {{getRide.car}} Год выпуска: {{getRide.car_year_issue}}</p>
    <p>Номер: {{getRide.car_number}}</p>
    <p>Мест: {{getRide.total_rides}}</p>
    <p>Водитель: <img class="profile-pic" src="{{getRide.author.profile.avatar.url}}" width="40" height="40"> {{getRide.author.first_name}} {{getRide.author.last_name}}</p>
    <p><h3>Цена: {{getRide.price}} c.</h3></p>
    <br>
    {% if messages %}
    <div class="alert alert-success">
        {% for text in messages %}
        {{text}}
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <a style="float:left;" class="btn btn-outline-primary" href="/list">Вернуться назад</a>
        {% if request.user == getRide.author %}
        {% else %}
        {% if getRide.total_rides == getRide.join_rides.all.count %}
        {% else %}
        <button style="float:left;margin-left:30px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Присоединиться
        </button>
        {% endif %}
        {% endif %}
    </div> <br />
    <h5 style="margin-top:5%">Количество присоединившихся к поездке пассажиров: {{getRide.join_rides.all.count}}</h5>
    {% if request.user == getRide.author %}
    <h4>Попутчики:</h4>
    {% for item in getRide.join_rides.all %}
    <ul>
        <li>
            <img class="profile-pic" src="{{item.author.profile.avatar.url}}" width="40" height="40"> {{item.author.first_name}} {{item.author.last_name}}: {{item.author_phone}}<br />
            <a class="btn btn-outline-danger " href="{% url 'deleteJoiner' item.id %}">Отказать</a>
        </li>
    </ul>
    {% endfor %}
    {% endif %}
</div>


<!-- Modal -->
<div data-id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Присоединение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_form" method="post">
                    {% csrf_token %}
                    {{form}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button data-action="submit" form="add_form" type="submit" class="btn btn-primary">Присоединиться</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}